parameters:
    tmpDir: var/cache/phpstan-tests
    excludes_analyse:
        - tests/bootstrap.php
    fileExtensions:
        - php
        - dist

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
