parameters:
    tmpDir: var/cache/phpstan-tests
    excludes_analyse:
        - tests/bootstrap.php
    autoload_files:
        - vendor/bin/.phpunit/phpunit-8.3-0/vendor/autoload.php
    fileExtensions:
        - php
        - dist

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
