parameters:
    level: 5
    tmpDir: var/cache/phpstan-tests
    excludes_analyse:
        - tests/bootstrap.php
    autoload_files:
        - vendor/bin/.phpunit/phpunit-8.3-0/vendor/autoload.php
    fileExtensions:
        - php
        - dist
    ignoreErrors:
        -
            message: '#Property Gbere\\SimpleAuth\\Tests\\Controller\\ConfirmRegistrationControllerTest::\$user \(Gbere\\SimpleAuth\\Entity\\User\|null\) does not accept Gbere\\SimpleAuth\\Entity\\UserBase.#'
            path: tests/Controller/ConfirmRegistrationControllerTest.php

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
