{% extends 'base.html.twig' %}

{% block body %}
    <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="layout">
        <div class="auth">
            <div class="auth-container">
                <div class="auth-modal">
                    <div class="auth-modal-table">
                        <div class="auth-modal-table-row">
                            <div class="auth-modal-body">
                                <div class="auth-logo">
                                    {{ include('@GbereSimpleAuth/frontend/_logo.html.twig') }}
                                </div>
                                {% block form_body %}{% endblock form_body %}
                            </div>
                        </div>
                        <div class="auth-modal-table-row">
                            <div class="auth-modal-footer">
                                {% block form_footer %}{% endblock form_footer %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block stylesheets %}<style>a,body,div,form,html,label,span{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}:focus{outline:0}html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}body,html{width:100%;min-height:100%;background:#fcfcfc}body{font-family:Colfax,Helvetica,Arial,sans-serif;font-style:normal;font-weight:400;color:#546b81}body .layout{height:100%;width:100%}a{color:#08a;text-decoration:none}.auth{margin:40px auto}.auth-container{min-height:100%;text-align:center}.auth-modal{position:relative;display:inline-block;margin:40px auto;width:525px;vertical-align:top;background:#fff;-webkit-box-shadow:2px 2px 6px 0 rgba(41,70,97,.1);box-shadow:2px 2px 6px 0 rgba(41,70,97,.1)}.auth-modal-table{display:table;width:100%;height:100%}.auth-modal-table-row{display:table-row}.auth-modal-body{display:table-cell;padding-top:90px;padding-bottom:50px;vertical-align:middle}.auth-logo{margin-bottom:60px}.auth-form-error,.auth-modal-error{font-size:13px;line-height:18px;color:#b71c1c}.auth-modal-error{position:relative;width:100%;padding:15px 0;margin:20px 0;background:rgba(183,28,28,.15)}.auth-modal-error span{display:block;margin:0 auto;text-align:left;width:65%}.auth-form-error{margin-top:5px;padding:0;list-style:none}.auth-form{margin:25px auto;text-align:left;width:65%}.auth-modal-footer{display:table-cell;width:100%;height:71px;font-size:13px;vertical-align:middle;background:hsla(0,0%,62%,.1)}.input-text-wrap{position:relative;padding-top:15px;margin-bottom:20px}.input-text-wrap [type=email],.input-text-wrap [type=number],.input-text-wrap [type=password],.input-text-wrap [type=tel],.input-text-wrap [type=text]{display:block;width:100%;padding:0;font-size:13px;line-height:24px;color:#294661;background-color:transparent;border:0;border-bottom:1px solid #d4dadf;-webkit-box-shadow:0 1px 0 transparent;box-shadow:0 1px 0 transparent;-webkit-transition:border-color .3s,-webkit-box-shadow .3s;transition:border-color .3s,-webkit-box-shadow .3s;transition:border-color .3s,box-shadow .3s;transition:border-color .3s,box-shadow .3s,-webkit-box-shadow .3s}.input-text-wrap [type=email]:focus,.input-text-wrap [type=number]:focus,.input-text-wrap [type=password]:focus,.input-text-wrap [type=tel]:focus,.input-text-wrap [type=text]:focus{border-color:#1a82e2;-webkit-box-shadow:0 1px 0 #1a82e2;box-shadow:0 1px 0 #1a82e2}.input-text-wrap label{position:absolute;top:18px;display:inline-block;font-size:13px;line-height:18px;pointer-events:none;-webkit-transition:top .3s,font-size .3s;transition:top .3s,font-size .3s;-webkit-transition-timing-function:cubic-bezier(.02,.01,.47,1);transition-timing-function:cubic-bezier(.02,.01,.47,1)}.input-text-wrap.is-focused label{top:0;font-size:12px;line-height:15px}input:active,input:focus{outline:0}.forgot-password-wrap{font-size:13px;text-align:right}.checkbox-wrap{padding-top:20px;font-size:13px}.checkbox-wrap label{cursor:pointer}.auth-btn{margin:30px 0}.auth-btn,.btn{text-align:center}.btn{position:relative;display:inline-block;padding:11px 30px;font-size:13px;line-height:16px;text-decoration:none;vertical-align:middle;cursor:pointer;border-style:solid;border-width:1px;border-radius:2px;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-transition:color .3s,background-color .3s,border-color .3s;transition:color .3s,background-color .3s,border-color .3s;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.btn-primary{color:#fff;background-color:#08a;opacity:.95}.btn-primary:hover{opacity:1}</style>{% endblock %}
{% block javascripts %}<script>"use strict";function docReady(t){"complete"===document.readyState||"interactive"===document.readyState?setTimeout(t,1):document.addEventListener("DOMContentLoaded",t)}docReady(function(){function n(){this.closest("div").classList.add("is-focused")}function o(){0===this.value.length&&this.closest("div").classList.remove("is-focused")}document.querySelectorAll(".input-text-wrap > input").forEach(function(t,e){t.addEventListener("focus",n),t.addEventListener("focusout",o),0===e&&t.focus()})});</script>{% endblock %}
