{% extends '@email/default/notification/body.html.twig' %}

{% block content %}
    Please click the next link to confirm registration
{% endblock %}

{% block action %}
    <spacer size="16"></spacer>
    <button href="{{ url('gbere_auth_confirm_registration', { token: token }) }}">Confirm registration</button>
{% endblock %}
