{% extends '@email/default/notification/body.html.twig' %}

{% block content %}
    Please click the next link to reset password
{% endblock %}

{% block action %}
    <spacer size="16"></spacer>
    <button href="{{ url('simple_auth_password_reset', { token: token }) }}">Reset password</button>
{% endblock %}
